/*!
 * Divs lado a lado
 *
 * Copyright 2019 LJF
 *
 */
#chart_div{
    position:relative;
    border-width:2px;
    float: left;
}
#chart_div1{
    position: relative;
    border-width:2px;
    left:0px;
    float: left;
}
.group:before,
.group:after {
    content: "";
    display: table;
} 
.group:after {
    clear: both;
}
.group {
     zoom: 1; /* For IE 6/7 (trigger hasLayout) */
}
 